/*
    _ before file name to ignore compiling it. then include at main only... 

    @import .....> @use .... as *                   ..will be replaced @use in newer versions

    Advanced Structure 
        Folder: layout --> global rulers
                pages  --> ..
*/

/*
    nesting
    .parent{
        .child{...}
        >{...}
        +{...}
    }
*/

/*
    refer to parent:
    .parent{
        ${...}    
    }
*/

/*
    Property Declarations:
    .property {
        ...
        background: {
            ...
        }
    }
*/

/*
    placeholder class wont show in the actual css main file
    %placeholder {
        ...
    }

    extends a placeholder inside a class:
    article {
        @extend %placeholder;
    }
*/

/* 
    Control Flow ==> If And Else

    for class:
    .page {
    @if ($theme == "light") 
     @else
    }

    in single propery:
    if($rounded, 50%, null);
*/

/*
    mixins
        @mixin name($.)  {..  $.   ..}

        @mixin name($.)  {
            @content;
        }

        then u can include it anywhere

*/

/*
    Loop => For

        @for $i from 1 to/through 10 {...} 
*/

/*
    Each 
        @each $ in $ {}


    Each in Maps
        $map: ();

        @each $var in $map {...}
*/

/*
    Loop - While

    while condition {..}
*/

/*
    function

    @function name($){
        @return $.... ;
    }
*/
