/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --pragph-clr: #888;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --light-bg: #ececec;
}

::selection {
  color: white;
  background-color: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: initial;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Components classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url(../images/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots.dots-down {
  bottom: 18%;
}
.dots.dots-up {
  right: 0;
  top: 20%;
}

@keyframes up-and-down {
  50% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes bouncing {
  20% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
  40%,
  75% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}

@keyframes move-arrow {
  100% {
    transform: translateX(8px);
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -o-transform: translateX(8px);
  }
}

/* main title */
.main-title {
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: auto;
  font-size: 30px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  top: 35%;
  left: -30%;
}
.main-title::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  top: 35%;
  right: -30%;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 1.5s linear forwards;
  -webkit-animation: left-move 1.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 1.5s linear forwards;
  -webkit-animation: right-move 1.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 1.4s;
}
@keyframes left-move {
  40% {
    transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    -moz-transform: rotate(0.5turn);
    -ms-transform: rotate(0.5turn);
    -o-transform: rotate(0.5turn);
    transform-origin: 140px 0;
    left: 0;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
  }

  95% {
    width: 12px;
    height: 15px;
    border-radius: 50%;
  }
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform-origin: 100px 0;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  40% {
    transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    -moz-transform: rotate(0.5turn);
    -ms-transform: rotate(0.5turn);
    -o-transform: rotate(0.5turn);
    transform-origin: -140px 0;
    right: 0;
    width: 12px;
    height: 12px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
  }
  80% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform-origin: 0;
    right: 0;
    width: 12px;
    height: 15px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    top: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

/* Header */
header {
  box-shadow: 1px 1px 5px #999;
}
@media (max-width: 991px) {
  header .logo {
    height: 50px !important;
    font-size: 26px !important;
  }
  header .container {
    flex-direction: column;
  }
  header .container .hul {
    justify-content: center;
    height: 40px;
    align-items: center;
  }
  header .container .hul a {
    padding: 0 15px;
  }
  header > div > ul > li:nth-child(4) > .mega-menu .image {
    display: none;
  }
  header .hul > li:nth-child(4) > a:hover + .mega-menu {
    display: flex !important;
    justify-content: space-evenly;
  }
  header > div > ul > li:nth-child(4) > .mega-menu {
    top: 92px !important;
    /* left: 0; */
    width: 100%;
  }
}

@media (max-width: 1300px) {
  header > div > ul > li:nth-child(4) > .mega-menu {
    top: 75px;
    width: 90%;

    align-items: center;
    padding-right: 20px;
  }
  header > div > ul > li:nth-child(4) > .mega-menu .image img {
    width: 90%;
  }
}
header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  height: 72px;
}
header .hul li {
  position: relative;
  overflow: hidden;
  text-align: center;
}
header ul.hul {
  display: flex;
}
header .hul a {
  height: 72px;
  line-height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  transition: var(--main-transition);
}
header .hul > li > a::before {
  content: "";
  position: absolute;
  width: 121%;
  height: 4px;
  background-color: var(--main-color);
  top: -19px;
  left: -121%;
  transition: var(--main-transition);
}
header .hul > li > a:hover {
  color: var(--main-color);
  background-color: #e5e4e244;
}
header .hul > li > a:hover::before {
  left: 0;
}

/* mega-menu */
.mega-menu {
  top: 80px;
  position: fixed;
  transform: translateX(50%);
  right: 50%;
  display: none;
  justify-items: center;
  grid-template-columns: 500px 250px 250px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: 1;
}
.mega-menu .links {
  flex-direction: column;
  height: 70%;
  width: 100%;
}
.mega-menu .links a {
  color: var(--main-color);
  font-weight: bold;
  padding: 0;
}
.mega-menu .links li {
  width: 100%;
  text-align: start;
  border-bottom: 1px solid var(--light-bg);
}

header .hul > li:nth-child(4) > a:hover + .mega-menu {
  display: grid;
}

/* landing */
.landing {
  position: relative;

  overflow: hidden;
}
.landing::before {
  content: "";
  position: absolute;
  background-color: var(--light-bg);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}
.landing .container {
  align-items: center;
  min-height: calc(95vh - 72px);
}

.landing .container .text h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.landing .container .text p {
  color: var(--pragph-clr);
  line-height: 2.5;
  font-size: 20px;
  max-width: 500px;
}
.landing .container img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}
.landing .down-btn {
  color: var(--main-color);
  position: absolute;
  bottom: 0;
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    margin-top: var(--main-padding-top);
    gap: 1em;
    justify-content: flex-start;
  }
  .landing .container img {
    order: -1;
    width: 80%;
  }
  .landing .container .text {
    padding: calc(var(--main-padding-bottom) / 2);
  }
}
/* articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: var(--main-padding-top);
}
.articles .art {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.articles img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.articles .container .text {
  padding: 0 15px;
}

.articles .container .text p {
  border-bottom: 1px solid var(--light-bg);
  padding-bottom: 30px;
  color: var(--pragph-clr);
  line-height: 1.7;
}
.articles .container .text a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .text a i {
  margin-left: 57%;
  padding-bottom: 20px;
}
.articles .art:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .art:hover a i {
  animation: move-arrow 0.5s linear infinite;
  -webkit-animation: move-arrow 0.5s linear infinite;
}

/* gallery */
.gallery {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-color: var(--light-bg);
}
.gallery .container {
  margin-top: var(--main-padding-top);
}
.gallery .cover img {
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .cover {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .cover .image {
  overflow: hidden;
  position: relative;
}
.gallery .cover .image::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .cover .image:hover img {
  transform: scale(1.2) rotate(3deg);
  -webkit-transform: scale(1.2) rotate(3deg);
  -moz-transform: scale(1.2) rotate(3deg);
  -ms-transform: scale(1.2) rotate(3deg);
  -o-transform: scale(1.2) rotate(3deg);
}
.gallery .cover .image:hover::before {
  animation: flashing 1s;
  -webkit-animation: flashing 1s;
}
@keyframes flashing {
  40% {
    opacity: 0.2;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/* Features */
.features {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.features .container {
  padding-top: var(--main-padding-top);
}
.features .feat {
  border: 1px solid var(--light-bg);
  text-align: center;
}

.features .feat img {
  width: 100%;
}
.features .feat h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .feat h2::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 75%;
  left: 13%;
  bottom: -0.7em;
}
.features .feat:nth-child(1) h2::after {
  background-color: #f44036;
}

.features .feat:nth-child(2) h2::after {
  background-color: #009688;
}
.features .feat:nth-child(3) h2::after {
  background-color: #03a9f4;
}
.features .feat p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: var(--pragph-clr);
}
.features .feat button {
  border: none;
  margin-bottom: calc(var(--main-padding-bottom) / 1.5);
}
.features .feat button a {
  padding: 5px 30px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 6px;
  border: 3px solid;
  transition: var(--main-transition);
}

.features .feat:nth-child(1) button a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feat:nth-child(1):hover a {
  background-position: left bottom;
  color: white;
}
.features .feat:nth-child(2) button a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feat:nth-child(2):hover a {
  background-position: left bottom;
  color: white;
}
.features .feat:nth-child(3) button a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feat:nth-child(3):hover a {
  background-position: left bottom;
  color: white;
}
.features .feat .img-box {
  position: relative;
  overflow: hidden;
}
.features .feat .img-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.5;
}
.features .feat:nth-child(1) .img-box::before {
  background-color: #f44036;
}
.features .feat:nth-child(2) .img-box::before {
  background-color: #009688;
}
.features .feat:nth-child(3) .img-box::before {
  background-color: #03a9f4;
}
.features .feat .img-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .feat:hover .img-box::after {
  border-width: 170px 500px 170px 0;
}

/* Testimonials */

.testimonials {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-color: var(--light-bg);
}
.testimonials .container {
  margin-top: var(--main-padding-top);
  grid-row-gap: 50px;
}
.testimonials .person {
  background-color: white;
  position: relative;
  padding: 20px;
}
.testimonials .person .circle-img {
  position: absolute;
  right: -5px;
  top: -60px;
}
.testimonials .person .circle-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--light-bg);
}
.testimonials .person h2 {
  margin: 0;
}
.testimonials .person p {
  color: var(--pragph-clr);
  margin: 5px 0 10px;
  line-height: 1.5;
}
.testimonials .person .stars {
  margin-bottom: 10px;
}
.testimonials .person .stars .filled {
  color: #ffc107;
}

/* Team Members */

.members {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.members .container {
  margin-top: var(--main-padding-top);
  grid-gap: 5em 3em;
}
.member img {
  width: calc(100% - 60px);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.member {
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.member:hover img,
.member:hover .mem-info {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.member::before {
  content: "";
  position: absolute;
  width: 87%;
  height: 111%;
  background-color: #e5e4e277;
  z-index: -1;
  right: 0;
  top: -3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.member::after {
  content: "";
  position: absolute;
  width: 0;
  height: 111%;
  background-color: #e5e4e2;
  z-index: -1;
  right: 0;
  top: -3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.member:hover:after {
  width: 87%;
}

.member .mem-info {
  position: relative;
  right: -4em;
  width: fit-content;
}
.member .mem-info h2 {
  color: var(--main-color);
}
.member .mem-info p {
  color: var(--pragph-clr);
}
.member .icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  right: 5%;
  top: 50%;
  transform: translate(0, -100%);
  color: var(--pragph-clr);
}
.member .icons i:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/* Services */
.services {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-color: var(--light-bg);
}
.services .container {
  margin-top: var(--main-padding-top);
}

.services .srv {
  background-color: white;
  text-align: center;
  padding-top: 30px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
}
.services .srv i {
  font-size: 5em;
  color: var(--pragph-clr);
  opacity: 0.3;
}
.services .srv h2 {
  color: var(--main-color-alt);
}

.services .srv .details {
  height: 40px;
  position: relative;
  overflow: hidden;
  counter-increment: c;
}
.services .srv .details a {
  color: var(--main-color);
  position: absolute;
  right: 1.5em;
}
.services .srv .details::before {
  content: "0" counter(c);
  position: absolute;
  height: 100%;
  width: 35%;
  background: var(--main-color-alt);
  left: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.services .srv .details::after {
  content: "";
  position: absolute;
  background-color: #d1d1d1;
  height: 100%;
  width: 13%;
  left: calc(35% - 45px);
  transform: skewX(-30deg);
}

.services .srv:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .srv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background: var(--main-color-alt);
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .srv:hover::before {
  width: 100%;
}

/* Our Skills */
.skills {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.skills .container {
  margin-top: var(--main-padding-top);
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.skills .container img {
  flex: 0.8;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.skills .container img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
}
@media (max-width: 991px) {
  .skills img {
    display: none;
  }
  .skills-side {
    padding: calc(var(--main-padding-top) / 2);
  }
}
.skills .container .skills-side {
  flex: 1;
}

.skills .container .skill {
  position: relative;
}
.skills .skill-bar {
  background-color: var(--light-bg);
  height: 30px;
  position: relative;
}

.skills .skill::after {
  content: attr(data-progess);
  position: absolute;
  right: 0;
  top: 17px;
  height: fit-content;
  padding: 2px;
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #ccc;
}
.skills .skill-bar span {
  background-color: var(--main-color);
  height: 100%;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
}
.skills .container > div > div:nth-of-type(3) span {
  width: 60%;
}
.skills .container > div > div:nth-of-type(4) span {
  width: 40%;
}
.skills .skill:not(div:nth-of-type(3), div:nth-of-type(4)):hover span {
  animation: width 0.5s linear forwards;
  -webkit-animation: width 0.5s linear forwards;
}
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.skills .container > div > div:nth-of-type(3):hover span {
  animation: width1 0.4s linear forwards;
  -webkit-animation: width1 0.4s linear forwards;
}
@keyframes width1 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.skills .container > div > div:nth-of-type(4):hover span {
  animation: width2 0.4s linear forwards;
  -webkit-animation: width2 0.4s linear forwards;
}
@keyframes width2 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

/* How It Works */
.works {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-color: var(--light-bg);
}

.works .container {
  margin-top: var(--main-padding-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.works .container > img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .works .container {
    flex-direction: column;
  }
  .works .container > img {
    order: -1;
  }
  .works .container .work-steps {
    padding: var(--main-padding-top);
  }
}
@media (max-width: 768px) {
  .works .container > img {
    width: 60%;
  }
  .works .container .work-steps {
    padding: calc(var(--main-padding-top) / 3.5);
  }
}

.works .container .step {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}
.works .container .step::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.works .container .step:hover::before {
  width: 99%;
  height: 99%;
  background: var(--pragph-clr);
  opacity: 0.1;
}

.works .container .step .text {
  margin-left: 20px;
}
.works .container .step h3 {
  margin: 0;
  font-size: 22px;
}

.works .container .work-steps {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.works .container .step p {
  color: var(--pragph-clr);
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
.works .container .step img {
  width: 64px;
}

/* Events */
.events {
  position: relative;
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--main-padding-top);
}
.events .container > img {
  max-width: 450px;
  flex-basis: 45%;
}
.events .container .event-main {
  flex-basis: 55%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events .container .event-main .time {
  display: flex;
  gap: 1em;
}

.events .container .event-main .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}
.events .days,
.events .hours,
.events .minutes,
.events .seconds {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .container .event-main .time .unit span {
  padding: 5px 0;
  border-top: 1px solid #d4d4d4;
  display: block;
}

.events .container .event-main .time .unit:hover,
.events .container .event-main .time .unit:hover span {
  border-color: var(--main-color-alt);
}

.events .container .event-main > p {
  color: var(--pragph-clr);
  line-height: 1.7;
  font-size: 19px;
}
.events .container .sub {
  flex: 1;
  margin-top: var(--main-padding-top);
}
.events .container .sub form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 50px;
  gap: 20px;
}
.events .container .sub form input {
  border: none;
  width: 25em;
  caret-color: var(--main-color);
  color: var(--main-color-alt);
}
.events .container .sub form input:focus {
  outline: none;
}
.events .container .sub form a {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.events .container .sub form a:hover {
  background-color: var(--main-color-alt);
}

/* Pricing */
.pricing {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-color: var(--light-bg);
  position: relative;
}
.pricing .container {
  margin-top: var(--main-padding-top);
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .pricing .container {
    padding: 0 50px;
  }
  .pricing .container .box {
    min-width: 300px;
  }
}
.pricing .container .box {
  background-color: white;
  z-index: 1;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
}
.pricing .container .box h3 {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing .container .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .container .box .price {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing .container .box .amount {
  color: var(--pragph-clr);
  margin-bottom: 20px;
}
.pricing .container .box ul {
  text-align: left;
}
.pricing .container .box ul li {
  padding: 20px;
  border-top: 1px solid var(--light-bg);
}
.pricing .container .box a {
  display: block;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px;
  width: fit-content;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
  margin: 30px auto 40px;
}
.pricing .container .box a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .container .box:nth-child(2) {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.pricing .box .popular {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  top: 0;
  width: 40px;
}
.pricing .box .popular::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

/* Top Videos */
.videos {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.videos .container {
  margin-top: var(--main-padding-top);
  background-color: var(--light-bg);
  padding: 5px;
  gap: 10px;
}
@media (max-width: 991px) {
  .videos .container {
    flex-direction: column;
  }
  .videos .container .preview div {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    margin-top: 10px;
  }
}
.videos .container .titles {
  background-color: white;
}
.videos .container .titles .head {
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}

.videos .container .titles .subtitles {
  padding: 20px;
  border-top: 1px solid var(--light-bg);
  cursor: pointer;
  transition: var(--main-transition);
}

.videos .container .titles .subtitles h4 {
  margin: 0;
}
.videos .container .titles .subtitles p {
  display: block;
  margin: 10px 0 0;
  color: var(--pragph-clr);
}

.videos .container .preview {
  max-width: 100%;
  position: relative;
  padding: 5px;
}
.videos .container .preview img {
  max-width: 100%;
}
.videos .container .preview > div {
  bottom: 10px;
  left: 5px;
  position: absolute;
  background-color: white;
  width: 99%;
  padding: 20px;
}

/* Our Stats */
.a-stats {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
}
.a-stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 94%);
}
.a-stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.a-stats .container {
  margin-top: var(--main-padding-top);
  gap: 20px;
}
.a-stats .container .stats-box {
  flex: 1;
  text-align: center;
  opacity: 0.75;
  position: relative;
}
.a-stats .container .stats-box::before,
.a-stats .container .stats-box::after {
  content: "";
  position: absolute;
  background-color: var(--main-color-alt);
  width: 2px;
  height: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.a-stats .container .stats-box::before {
  bottom: 0;
  left: 0;
}
.a-stats .container .stats-box::after {
  top: 0;
  right: 0;
}
.a-stats .container .stats-box:hover {
  opacity: 1;
}
.a-stats .container .stats-box:hover::before,
.a-stats .container .stats-box:hover::after {
  height: 100%;
}

.a-stats .container .stats-box p:first-of-type {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.a-stats .container .stats-box p:last-of-type {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

/* Discount */
.discount {
  display: flex;
  text-align: center;

  flex-wrap: wrap;
}
.discount .panar {
  flex-basis: 50%;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
  -webkit-animation: change-background 10s linear infinite;
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
.discount .panar::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--main-color-alt);
  opacity: 0.97;
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  .discount .panar {
    flex-basis: 100%;
  }
}
.discount .cont {
  position: relative;
  padding: calc(var(--main-padding-top) * 2) 20px
    calc(var(--main-padding-bottom) / 2);
}
.discount .cont img {
  width: 300px;
  max-width: 100%;
}
.discount .cont h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .cont p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto 20px;
}
.discount .request {
  flex: 1;
}
.discount .request h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .request input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  color: var(--main-color);
}
.discount .request textarea {
  border: none;
  height: 200px;
  width: 100%;
  resize: none;
  color: var(--main-color);
}
.discount .request input:focus,
.discount .request textarea:focus {
  outline: none;
}

.discount .request input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  color: white;
}
.discount .request input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* Footer */
footer {
  background-color: #191919;
  padding: 70px 0 0;
  color: white;
}

footer .container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

footer .container .s-links h2 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .container .imgs img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .container .s-links div {
  background-color: #313131;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #b9b9b9;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
footer .container .s-links div.f:hover {
  background-color: var(--main-color-alt);
}

footer .container .s-links div.t:hover {
  background-color: var(--main-color);
}
footer .container .s-links div.y:hover {
  background-color: red;
}
footer .container .s-links > p {
  color: var(--pragph-clr);
  line-height: 2;
}

footer .container .i-links ul li:not(:last-child) {
  border-bottom: 1px solid var(--pragph-clr);
  margin-bottom: 20px;
  padding-bottom: 10px;
}
footer .container .i-links ul li a {
  color: white;
  margin-left: 10px;
}
footer .container .i-links ul li i {
  color: var(--main-color);
}
footer .container .i-links ul li {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .container .i-links ul li:hover {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

footer .container .c-links i {
  color: var(--main-color);
  font-size: 25px;
}
footer .container .c-links {
  text-align: center;
}
footer .container .c-links div {
  align-items: center;
  gap: 10px;
  text-align: start;
  line-height: 1.7;
  margin-bottom: 10px;
}

footer .container .c-links div p {
  margin: 0;
}
footer .container .c-links div ul {
  width: 100%;
  padding: 5px;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid var(--pragph-clr);
  padding: 25px 0;
}
