:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.no-tours {
  margin-top: 10%;
  display: grid;
  place-items: center;
}
main.tours {
  width: min(90vw, 620px);
  margin: 5rem auto;
}

.tours header h1 {
  text-align: center;
  position: relative;
}

.tours header h1::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  bottom: -20px;
  left: 50%;
  background-color: #49a6e9;
  transform: translateX(-50%);
}

.tours article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
}
