/* Variables */
:root {
  --main-color: #19c8fa;
  --hashing-color: #777;
  --transparent-color: rgb(0 0 0 / 50%);
  --trans-pragh-clr: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --transition-time: 0.5s;
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Components classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Theme Text Aera */
.text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--trans-pragh-clr);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.text .text-content {
  max-width: 70%;
}
.text .text-content h2 {
  margin-bottom: 0.5em;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
}
.text .text-content p {
  font-size: 14px;
  line-height: 1.5;
}

/* Special Heading */
.spec-heading {
  text-align: center;
}
.spec-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.spec-heading p {
  color: var(--hashing-color);
  width: 35em;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
}
.spec-heading h2::before {
  content: "";
  position: absolute;
  width: 3em;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.6em;
}
.spec-heading h2::after {
  content: "";
  position: absolute;
  height: 0.4em;
  width: 0.4em;
  right: 50%;
  bottom: -72%;
  background-color: white;
  transform: translateX(66%);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

/* End of Components */
/* Header */
header {
  color: white;
  /* background-color: black; */
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--hashing-color);
  width: calc(100% - 30px);
  bottom: 0;
}
header nav {
  display: flex;

  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
}
header .icon {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
header a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 37px 10px;
  font-size: 14px;
  transition: var(--transition-time);
  position: relative;
  z-index: 2;
}
header a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

/* landing */
figure {
  background-image: url(../images/landing.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-color);
}
figure > i {
  position: absolute;
  color: white;
  top: 50%;
  font-size: 2em;
  color: #19c8fa55;
}
figure > i.r {
  right: 1em;
}
figure > i.l {
  left: 1em;
}
figure ul {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
figure ul li {
  height: 20px;
  width: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 15px;
  transition: var(--transition-time);
}
figure ul li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
figure ul li:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* Services */
.services {
  padding: var(--section-padding) 0;
}
@media (min-width: 768px) {
  .srvs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 6em 4em;
  }
}

.srvs .srv {
  display: flex;
  margin-bottom: 3em;
}

.srv i {
  margin-right: 0.6em;
}
.srv p:first-child {
  color: var(--main-color);
  margin-bottom: 2em;
  font-weight: bold;
}
.srv p:nth-child(2) {
  color: var(--hashing-color);
  line-height: 1.5;
}

/* Features */
.features {
  position: relative;
  background-size: cover;
  background: url(../images/design-features.jpg);
  padding: var(--section-padding) 0;
  height: 60vh;
  overflow: hidden;
}
.features::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--transparent-color);
  top: 0;
}
.features .text.fe {
  left: 45%;
  justify-content: flex-start;
  height: 40vh;
  width: 55%;
}
.features .text.fe h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 40px;
}
.features .text.fe p {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  left: 30px;
}
.features .text.fe p::before {
  content: "\f390";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -30px;
  top: 2px;
}
.img {
  background-image: url(../images/mobile.png);
  height: 40vh;
  width: 20vw;
  background-size: cover;
  position: absolute;
  left: 9em;
  bottom: -3em;
}
