.title {
  margin-top: 5rem;
  text-align: center;
}

.title h2 {
  position: relative;
}

.title h2::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  bottom: -20px;
  left: 50%;
  background-color: #49a6e9;
  transform: translateX(-50%);
}
