extends index

//- replace
block pageTitle
	title About Me!

//- pre
	u could remove 'block' keywork in pending

block prepend pageTitle
	title.prepend About Me!

//- append
append pageTitle
	title.append About Me!


block interpolation
	.about-me This is About me Page 