@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;800;900&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;900&display=swap");

select:nth-child(2) option:first-child {
  background: #0081cf;
}
select:nth-child(2) option:nth-child(2) {
  background: #975896;
}
select:nth-child(2) option:nth-child(3) {
  background: #7679bd;
}
select:nth-child(2) option:nth-child(4) {
  background: #5ec2bf;
}
select:nth-child(2) option:nth-child(5) {
  background: #9ceb97;
}

select:nth-child(2) option:last-child {
  background: #f9f871;
}

.test-text {
  width: 50%;
  margin: 30px auto;
  padding: 10px 20px;
  border: 1px dotted;
  border-top-color: #975896;
  border-bottom-color: #5ec2bf;
  border-left-color: #7679bd;
  border-right-color: #0081cf;
}

select:nth-child(2) {
  background: linear-gradient(
    to right,
    #0081cf 0%,
    #975896 20%,
    #7679bd 40%,
    #5ec2bf 60%,
    #9ceb97 80%,
    #f9f871 100%
  );
}

.control-panel {
  text-align: center;
}
